<launch>
  <!-- Get Images -->
  <include file="$(find spinnaker_camera_driver)/launch/stereo.launch" />

  <!-- Yolov4 -->

  <arg name="image_right"        default="/stereo/right/image_raw" />

  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- ROS and network parameter files -->

  <arg name="ros_param_file_right" default="$(find darknet_ros)/config/camera_right.yaml"/>
  <!-- <arg name="network_param_file" default="$(find darknet_ros)/config/lab_orchid_v4.yaml"/> -->
  <arg name="network_param_file"   default="$(find darknet_ros)/config/orchid_tiny2.yaml"/>

  <!-- Load parameters -->

  <rosparam command="load" ns="right_camera/darknet_ros" file="$(arg ros_param_file_right)"/>
  <rosparam command="load" ns="right_camera/darknet_ros" file="$(arg network_param_file)"/>

  
  <node  ns="right_camera" pkg="darknet_ros" type="darknet_ros" name="darknet_ros" launch-prefix="$(arg launch_prefix)">
  <!-- <node  ns="right_camera" pkg="darknet_ros" type="darknet_ros" name="darknet_ros" launch-prefix="$(arg launch_prefix)" output="screen"> -->
    <param name="weights_path"         value="$(arg yolo_weights_path)" />
    <param name="config_path"          value="$(arg yolo_config_path)" />
    <remap from="camera/rgb/image_raw" to="$(arg image_right)" />
  </node>

</launch>
