<launch>
  <arg name="path_integ"         default="0.01" />
  <arg name="effect_x_range"         default="0.1" />
  <arg name="effect_y_range"         default="0.15" />
  <arg name="start_water_range"         default="0.15" />
  <arg name="finish_water_range"         default="0.07" />
  <arg name="path_x_max"         default="0.2" />
  <arg name="set_valve_pwm"         default="80" />
  <arg name="watering_mode"         default="2" />
  <include file="$(find wapabawama_ros)/launch/detect_single.launch">
    <!-- <arg name="network_param_file" default="$(find darknet_ros)/config/lab_orchid_v4.yaml"/> -->
  </include>

  <!-- wapabawama_ros -->
  <group ns="wapabawama_ros">

    <include file="$(find wapabawama_ros)/launch/move.launch"/>

    <!-- Detect Lgv -->
    <node name="lgv_detector_left" pkg="wapabawama_ros" type="lgv_detector" output="screen">
      <!-- <param name="image" value="/stereo/left/image_raw" /> -->
      <!-- <param name="bbox" value="/left_camera/darknet_ros/bounding_boxes" /> -->
      <param name="alpha" value="395" />
      <param name="beta" value="1459" />
      <param name="cx" value="1577" />
      <param name="cy" value="425" />
      <param name="d" value="395" />
      <!-- <param name="biasx" value="0.05" /> -->
      <!-- <param name="biasy" value="-0.02" /> -->
      <!-- <param name="biasy" value="-0.07" /> -->
      <!-- <remap from="lgvs" to="set_lgvs" /> -->
      <param name="box_expand" value="30" />
    </node>
    <!-- <node name="lgv_detector_right" pkg="wapabawama_ros" type="lgv_detector_cv" output="screen">
      <param name="image" value="/stereo/right/image_raw" />
      <param name="window" value="window_right" />
      <param name="bbox" value="/right_camera/darknet_ros/bounding_boxes" />
      <param name="alpha" value="395" />
      <param name="beta" value="1457" />
      <param name="cx" value="417" />
      <param name="cy" value="385" />
      <param name="d" value="395" />
      <param name="biasx" value="0.02" />
      <param name="box_y_limit" value="0" />
      <param name="box_expand" value="30" />
    </node> -->
   

  </group>
</launch>
