<launch>
  <arg name="maxDisappeared"         default="10" />
  

  <include file="$(find wapabawama_ros)/launch/detect.launch">
    <!-- <arg name="network_param_file" default="$(find darknet_ros)/config/lab_orchid_v4.yaml"/> -->
  </include>
  <include file="$(find wapabawama_ros)/launch/tf.launch"/>

  <!-- wapabawama_ros -->
  <group ns="wapabawama_ros">
    <include file="$(find wapabawama_ros)/launch/move.launch"/>
    <node name="SORT_left" pkg="wapabawama_ros" type="sort.py" output="screen">
        <param name="img_topic" value="/stereo/left/image_raw" />
        <param name="bbox" value="/left_camera/darknet_ros/bounding_boxes" />
        <param name="tracked_bbox" value="/left_camera/tracked_boxes" />
        <param name="window_name" value="left_window" />
    </node>
    <!-- Detect Lgv -->
    <node name="lgv_detector_left" pkg="wapabawama_ros" type="lgv_detector_test" output="screen">
      <param name="image" value="/stereo/left/image_raw" />
      <param name="bbox" value="/left_camera/tracked_boxes" />
      <param name="alpha" value="395" />
      <param name="beta" value="1459" />
      <param name="cx" value="1577" />
      <param name="cy" value="425" />
      <param name="d" value="395" />
      <!-- <param name="biasx" value="0.05" /> -->
      <!-- <param name="biasy" value="-0.02" /> -->
      <!-- <param name="biasy" value="-0.07" /> -->
      <!-- <remap from="lgvs" to="set_lgvs" /> -->
      <param name="box_expand" value="30" />
    </node>

    
   

  </group>
</launch>
