<launch>
  <arg name="effect_y_range"         default="0.16" />
  <arg name="start_water_range"         default="0.15" />
  <arg name="finish_water_range"         default="0.10" />
  <group ns="wapabawama_ros">

    <node name="detect_water_vl1" pkg="wapabawama_ros" type="detect_water_v1" output="screen">
      <param name="path_name"        value="la1/path"/>
      <param name="frame_name" value="la1"/>
      <param name="pwm_name"         value="valve1/pwm"/>
      <param name="center_x"         value="0.01"/>
      <param name="set_pwm"            value="50"/>
      <param name="start_water_range" value="$(arg start_water_range)"/>
      <param name="finish_water_range" value="$(arg finish_water_range)"/>
    </node>
    <node name="detect_water_vl2" pkg="wapabawama_ros" type="detect_water_v1" output="screen">
      <param name="path_name"        value="la2/path"/>
      <param name="frame_name" value="la2"/>
      <param name="pwm_name"         value="valve2/pwm"/>
      <param name="center_x"         value="0.25"/>
      <param name="set_pwm"            value="50"/>
      <param name="start_water_range" value="$(arg start_water_range)"/>
      <param name="finish_water_range" value="$(arg finish_water_range)"/> 
    </node>
    <node name="detect_water_vl3" pkg="wapabawama_ros" type="detect_water_v1" output="screen">
      <param name="path_name"        value="la3/path"/>
      <param name="frame_name" value="la3"/>
      <param name="pwm_name"         value="valve3/pwm"/>
      <param name="center_x"         value="-0.22"/>
      <param name="set_pwm"            value="50"/>    
      <param name="start_water_range" value="$(arg start_water_range)"/>
      <param name="finish_water_range" value="$(arg finish_water_range)"/>
    </node>
    
  </group>

</launch>
